build/
coverage/
deployments/*/solcInputs
deployments/localhost/
/lib/
node_modules/
coverage.json
yarn-error.log
*.tgz
state.json
.mocharc.json

# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*/31337/
/broadcast/**/dry-run/
# Ignores logs of some scripts
/broadcast/TransferOwnership.s.sol/

# Dotenv file
.env
